<!DOCTYPE html>
<html lang="zxx">
    <body>
        <div class="background">
            <div class="centering">
                <div class="articles">
                    <article>
                        <figure>
                            <img
                                src="./../../../assets/images/profile.jpg"
                                alt="Profile"
                            >
                        </figure>
                        <div class="article-preview">
                            <h2>Sebastian Naranjo</h2>
                            <p>
                                Hola, este es un aplicativo con la finalidad de mostrar mis capacidades como desarrollador web.
                            </p>
                        </div>
                    </article>
                    <article>            
                        <figure>
                            <img
                                src="./../../../assets/images/developer.jpeg"
                                alt="Preview"
                            >
                        </figure>
                        <div class="article-preview">
                            <h2>Profesión</h2>
                            <p>
                                Pregrado en Ingeniero de Sistemas. 
                            </p>
                        </div>
                    </article>
                    <article>
                        <figure>
                            <img
                                src="./../../../assets/images/github.jpg"
                                alt="Preview"
                            >
                        </figure>
                        <div class="article-preview">
                            <h2>GitHub</h2>
                            <p>
                                Este es mi URL de GitHub https://github.com/sebsnaranjo
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="button-container">
            <button mat-stroked-button id="ver-pokemones" (click)="redireccionar()">See pokemons</button>
        </div>                  
    </body>
</html>