<!DOCTYPE html>
<html lang="zxx">
    <body>
        <div class="background">
            <div class="centering">
                <div class="articles">
                    <article>
                        <figure>
                            <img
                                src="./../../../assets/images/profile.jpg"
                                alt="Profile"
                            >
                        </figure>
                        <div class="article-preview">
                            <h2>Sebastian Naranjo</h2>
                            <p>
                                Hi! this is an application with the purpose of showing my capabilities as a web developer.
                            </p>
                        </div>
                    </article>
                    <article>            
                        <figure>
                            <img
                                src="./../../../assets/images/developer.jpeg"
                                alt="Preview"
                            >
                        </figure>
                        <div class="article-preview">
                            <h2>Profession</h2>
                            <p>
                                Systems Engineering. 
                            </p>
                        </div>
                    </article>
                    <article>
                        <figure>
                            <img
                                src="./../../../assets/images/github.jpg"
                                alt="Preview"
                            >
                        </figure>
                        <div class="article-preview">
                            <h2>GitHub</h2>
                            <p>
                                This is my GitHub profile: https://github.com/sebsnaranjo.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="button-container">
            <button mat-stroked-button id="ver-pokemones" (click)="redireccionar()">See pokemons table</button>
        </div>                  
    </body>
</html>