@import "../src/assets/styles/colors.scss";
@import "../node_modules/@angular/material/theming";
@include mat-core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$my-primary: mat-palette($mat-red, 500);
$my-accent: mat-palette($mat-light-green, 800);

$my-theme: mat-light-theme($my-primary, $my-accent);

@include angular-material-theme($my-theme)